// Importing custom colors
@import '../custom';

// Styling book section
.book {
    padding: 1.5rem;

    h1 {
        font-size: 3.5rem;
        font-family: 'Bigshot One', sans-serif;
        color: $primary;

        @include media-breakpoint-up(md) {
            font-size: 5rem;
        }
    }
    
    p {
        font-weight: 600;
        color: $dark;
        font-size: 1rem;
        font-family: Lora, serif;
        margin-top: -0.5rem;

        &.choose {
            font-weight: 400;
        }
    }

    .form-label {
        font-family: Lora, serif;
        color: $dark;  
    }
    
    select, input {
        border: none;
    }

    .time-section {
        margin-top: 4rem;

    }

    .time-slots {
        .col {
            margin-top: 0.5rem;
        }
    }

    .time-slot {
        width: 100%;

        &:hover {
            background-color: $primary;
            color: $secondary;
        }
    }

    .submit-reservation-form {
        width: 12rem;
        margin-top: 2.5rem;
        font-size: medium;
        font-family: Italiana, sans-serif;
        font-weight: 700;
    }
}

.modal-content {
    .modal-body {
        margin-top: 4rem;

        .res-info {
            font-family: Italiana, sans-serif;
            font-size: 1.2rem;
            font-weight: 700;
        }

        .res-add-info {
            font-family: Lora, serif;
            margin-top: 1rem;
        }
    }
}