// Importing custom colors
@import '../custom';

// Styling book section
.book {
    padding: 1.5rem;

    h1 {
        font-size: 5rem;
        font-family: 'Bigshot One', sans-serif;
        color: $primary;
    }
    
    p {
        font-weight: 600;
        color: $dark;
        font-size: 1rem;
        font-family: Lora, serif;
        margin-top: -0.5rem;

        &.choose {
            font-weight: 400;
        }
    }

    .form-label {
        font-family: Lora, serif;
        color: $dark;  
    }
    
    select, input {
        border: none;
    }

    .time-section {
        margin-top: 4rem;

    }

    .time-slots {
        .col {
            margin-top: 0.5rem;
        }
    }

    .time-slot {
        width: 100%;
    }

    .submit-reservation-form {
        margin-top: 2.5rem;
        font-size: medium;
        font-family: 'Bigshot One', sans-serif;
    }
}