@import '../custom';

// Styling the footer
.footer {
    h5 {
        color: $primary;

    }

    p {
        color: $light;
    }

    ul li a {
        color: $light !important;
    }

    .disabled-button {
        cursor: not-allowed;
        opacity: 0.6;    
    }
}

// Back to top button
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
    font-size: 1.5rem;
  }