@import '../custom';

// Styling the footer
.footer {
    h5 {
        color: $primary;

    }

    p {
        color: $light;
    }

    ul li a {
        color: $light !important;
    }

    .disabled-button {
        cursor: not-allowed;
        opacity: 0.6;    
    }
}