// Importing custom colors
@import '../custom';

// Styling about us section
.about-us {
    margin: 2rem auto;
    min-height: 80vh;

    @include media-breakpoint-up(md) {
        margin: 3rem auto;
    }

    @include media-breakpoint-up(lg) {
        margin: 12rem auto;
    }

    .story {
        margin-left: 3.5rem;
    }

    h2 {
        margin-bottom: 1rem;
        font-size: 5rem;
        font-family: Italiana, sans-serif;
        font-weight: 600;
    }

    p {
        font-family: Lora, sans-serif;
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    h3 {
        margin: 2rem 0 1rem 3.5rem;
        font-size: 2rem;
        font-family: Italiana, sans-serif;
        font-weight: 600;

        @include media-breakpoint-up(md) {
            margin-bottom: 1.5rem;
        }
        
        @include media-breakpoint-up(lg) {
            margin: 3.5rem 0 3.5rem 3.5rem;
        }
        
    }

    .cards {
        margin-top: 2rem;

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 12rem;
        }
    }

    .card {
        width: 80%;
        border-radius: 45px;
        margin: 0 auto;
        
        @include media-breakpoint-up(md) {
            width: 90%;
        }

        @include media-breakpoint-up(lg) {
            width: 100%;
        }
        
        

        img {
            width: 80% !important;
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;
            margin: 2.5rem auto 0.5rem;
        }
    }

    .card-body {
        margin: 1rem 1.5rem;

        .card-title {
            margin-bottom: 1rem;
        }

        .card-subtitle {
            margin-bottom: 1rem;
        }

        .card-text {
            font-size: 1rem;
        }

        .card-link {
            margin: 1rem;
        }

    }
}