// Importing custom colors
@import '../custom';

// Styling contact us section
.contact-us {
    margin: 3rem auto 0;

    h2 {
        margin: 16rem 0 0 2rem;
        font-size: 3rem;
        font-family: Italiana, sans-serif;
        font-weight: 600;
    }

    .form-container {
        z-index: 1000;
        width: 90%;
        margin: 2rem 0 0.5rem;
        padding: 9rem 0;
        border-top-right-radius: 45px;

        @include media-breakpoint-up(sm) {
            width: 85%;
        }

        @include media-breakpoint-up(md) {
            width: 60%;
        }

        .form {
            width: 70%;
            margin-left: 4rem;

            .form-label {
                font-size: 1.2rem;
                font-family: Lora, sans-serif;
                font-weight: 100;
                padding-bottom: 0.5rem;
            }

            .form-control, .form-control-lg {
                background-color: transparent;
                border: none;
                border-bottom: 2px solid white;
                border-radius: 0;
                color: white;

                &:focus {
                    box-shadow: none;
                    color: white;
                }
            }

            .btn {
                width: 50%;
                margin: 1rem 0 0 auto;
            }
        }
    }

    .info {
        font-family: Lora, sans-serif;
        width: 90%;
        border-radius: 45px;
        margin: 0 auto 1rem;
        padding-bottom: 2rem;

        @include media-breakpoint-up(sm) {
            padding-bottom: 5rem;
            width: 60%;
        }

        @include media-breakpoint-up(md) {
            padding-bottom: 5rem;
            width: 35%;
            max-height: fit-content;
            margin-top: 6rem;
        }
        

        address {
            color: $secondary;
            font-size: 1.5rem;
            line-height: 1.5;
            margin: 2rem 0 2rem 2rem;

            @include media-breakpoint-up(sm) {
                margin-top: 3rem;
                margin-left: 3rem;

            }

            @include media-breakpoint-up(md) {
                margin: 4rem 0 3rem 1.5rem;
                font-size: 1.2rem;
                line-height: 1.4;
            }

            @include media-breakpoint-up(lg) {
                margin-left: 3rem;
            }

            @include media-breakpoint-up(xl) {
                margin-left: 5rem;
            }
        }

        a {
            color: $secondary;
            font-size: 1.5rem;
            line-height: 1.8;
            margin-left: 2rem;
            text-decoration: none;

            @include media-breakpoint-up(sm) {
                margin-left: 3rem;
            }

            @include media-breakpoint-up(md) {
                margin-left: 1.5rem;
                font-size: 1.2rem;
                line-height: 1.4;
            }

            @include media-breakpoint-up(lg) {
                margin-left: 3rem;
            }

            @include media-breakpoint-up(xl) {
                margin-left: 5rem;
            }

        }
    }

    .image {
        width: 100%;
        justify-self: center;

        img {
            width: 100%;
            margin: 0 auto;
        }
    }

    .row-with-image {
        @include media-breakpoint-up(md) {
            position: absolute;
            
        }
    }

    .col-with-image {
        @include media-breakpoint-up(md) {
            position: relative;
            top: 400px;
            right: 100px;
        }
    }
    

}