// Importing custom colors
@import '../custom';

.intro-section {
    .row {
        min-height: 350px;

        h2 {
            font-family: 'Bigshot One', sans-serif;
            font-size: 2.2rem;
            margin: 3rem 0 1.5rem 2rem;

            @include media-breakpoint-up(md) {
                margin: 1.5rem 1rem;
            }
        }

        p {
            font-family: Lora, sans-serif;
            font-size: 1rem;

            &.menu-block {
                margin: 0 2rem 2rem;

                @include media-breakpoint-up(lg) {
                    margin: 0  6rem 2rem 2rem;
                }
                
                @include media-breakpoint-up(md) {
                    margin: auto 1rem 1.5rem;
                }
            }

            &.book-block {
                margin: 0 2rem 2rem;

                @include media-breakpoint-up(lg) {
                    margin: 0 3rem 2rem 2rem;
                }

                @include media-breakpoint-up(md) {
                    margin: auto 1rem 1.5rem;
                }
            }

            &.insights-block {
                margin: 0 2rem 2rem;

                @include media-breakpoint-up(lg) {
                    margin: 0 1rem 2rem 2rem;
                }
                

                @include media-breakpoint-up(md) {
                    margin: auto 1rem 1.5rem;
                }
            }
        }

        button {
            font-family: 'Cantata One', sans-serif;
            min-width:80%;
            margin: 0 0 2rem 2rem;
            border-radius: 45px 45px 45px 0;

            @include media-breakpoint-up(md) {
                min-width: 90%;
                margin: auto 1rem 1.5rem;
            }

            @include media-breakpoint-up(lg){
                min-width: 70%;
            }
        }
        

        .text-secondary {
            border-top-right-radius: 45px;
        }

        .arrow {
            max-height: fit-content;
            align-self: end;

            @include media-breakpoint-down(md) {
                order: -1;
            }
        }

        .text-white {
            border-top-left-radius: 45px;
        }

        .text-primary {
            max-height: fit-content;
            border-top-right-radius: 45px;
            border-bottom-right-radius: 45px;

            @include media-breakpoint-up(md) {
                border-radius: 45px;
            }

            @include media-breakpoint-up(lg) {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }

        .image {
            padding: 0;

            img {
                border-radius: 45px;

                @include media-breakpoint-up(md) {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                }

                @include media-breakpoint-up(lg) {
                    border-radius: 45px;
                }
            }
            

            
        }

        .lemonade {
            max-height: fit-content;

            @include media-breakpoint-down(md) {
                order: -2;
                max-width: 50%;
                max-height: 50%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }


    
}