// Importing custom colors
@import '../custom';

// Styling navbar
.navbar {
    grid-template-columns: repeat(3, 1fr);

    .navbar-brand img {
            height: 48px;
        }

    // Adding custom style and effects to links
    .navbar-nav {
        .nav-link {
            padding: 8px 12px;
            color: $secondary;
            font-family: Lora, serif;

            i {
                font-size: large;
                color: $success;

                &:hover {
                    color: $primary;
                }
            }

            &:hover {
                color: $primary;
                text-shadow: 1px 1px 5px $light-yellow;
            }   
        }
    }

    #navbar-right {
        justify-self: end;
        
        @include media-breakpoint-up(lg) {
            margin-right: 3rem;
        }

        ul {
            display: flex;
            flex-flow: row nowrap;
        }
    }

    #navbar-left {
        justify-self: start;
        
        @include media-breakpoint-up(lg) {
            margin-left: 3rem;
        }
    }

    .navbar-toggler.d-md-block {
        max-width: 22%;
    }

    @include media-breakpoint-down(md) {
        grid-template-columns: repeat(2, 1fr);

        .navbar-brand {
            justify-self: start;
        }
    }
}

// Styling for offcanvas menu
.offcanvas-title {
    font-family: 'Bigshot One', sans-serif;
    color: $primary;
}

// Adding custom style and effects to links within offcanvas menu
.offcanvas-body .navbar-nav .nav-item {
    .nav-link {
        color: $secondary;
        font-family: 'Cantata One', sans-serif;

        &:hover {
            color: $primary;
            text-shadow: 1px 1px 5px $light-yellow;
        }
    }
}